In [31]:
import re
import nltk
import pandas as pd
# load the csv
df = pd.read_csv('update_fashion.csv')
df.head(2)

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category,Colour
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",1699.0,849.0,50.0,a-line dress,indigo
1,only,polyester peter pan collar womens blouson dress,"Size:34,36,38,40",3499.0,2449.0,30.0,blouson dress,yellow

In [35]:
# Tokenization -> Details
def tokenization(text):
    tokens = text.split()
    return tokens

stopwords = nltk.corpus.stopwords.words('english')

def remove_stopword(tokenize_item):
    item = [text for text in tokenize_item if text not in stopwords]
    return item

# Apply both functions in a single line
df['Tokenized_Details'] = df['Details'].apply(lambda x: remove_stopword(tokenization(x)))

# now finally saving it in new csv
df.to_csv('nlp_fashion.csv', index=False)

In [36]:
nlp_df = pd.read_csv('nlp_fashion.csv')
nlp_df.head()

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category,Colour,Tokenized_Details
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",1699.0,849.0,50.0,a-line dress,indigo,"['solid', 'cotton', 'blend', 'collar', 'neck',..."
1,only,polyester peter pan collar womens blouson dress,"Size:34,36,38,40",3499.0,2449.0,30.0,blouson dress,yellow,"['polyester', 'peter', 'pan', 'collar', 'women..."
2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",1199.0,599.0,50.0,regular top,off white,"['solid', 'polyester', 'blend', 'wide', 'neck'..."
3,zink london,stripes polyester sweetheart neck womens dress,"Size:Large,Medium,Small,X-Large",2299.0,1379.0,40.0,dress,black,"['stripes', 'polyester', 'sweetheart', 'neck',..."
4,life,regular fit regular length denim womens jeans,"Size:26,28,30,32,34,36",1699.0,849.0,50.0,jeans,stone,"['regular', 'fit', 'regular', 'length', 'denim..."